/* AboutUs.css */
.about-us-container {
    text-align: center;
    color: white;
}

.about-us-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-us-description {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    color: #a5d6a7;
}

.about-us-content {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
